@font-face {
  /* MONTSERRAT 900*/
  font-family: montserrat;
  font-weight: normal;
  src: url(fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  /* WORKSANS 300*/
  font-family: worksans;
  font-weight: normal;
  src: url(fonts/WorkSans-Medium.ttf);
}
:root {
  --primary: #283276;
  --secondary: #823f91;
  --thirdary: #4399ca;
  --background: #1052a9;
  --cell-size: 64px;
  --cell-spacing: 1px;
  --border-width: 1px;
  --cell-color: white;
  --cells: 4;
  --total-size: calc(
    var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing))
  );
}
html {
  overflow-x: hidden;
}
html,
body {
  overflow-y: hidden;
}
html.loaded,
html.loaded body {
  overflow-y: auto;
}
html.loaded .mosaic-loader {
  animation: to_the_moon 1s ease-in-out 0.5s both;
}
html.loaded #loader {
  animation: to_the_moon 1s ease-in-out 1s both;
}
@keyframes to_the_moon {
  0% {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    filter: blur(40px);
    opacity: 0;
  }
}
body {
  scrollbar-width: thin;
  scrollbar-color: red yellow;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar:hover {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  background: #d7d7d7;
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 8px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
.bc_primary {
  background: var(--primary);
}
.c_primary {
  color: var(--primary);
}
.bc_secondary {
  background: var(--secondary);
}
.c_secondary {
  color: var(--secondary);
}
.bc_thirdary {
  background: var(--thirdary);
}
.c_thirdary {
  color: var(--thirdary);
}
.fill_varbg {
  fill: var(--background);
}
.italic_title {
  font-family: "montserrat";
  font-style: italic;
}

.gradient {
  background: linear-gradient(90deg, var(--thirdary) 0%, var(--primary) 100%);
}
.gradient_btn {
  background: linear-gradient(45deg, var(--secondary) 0%, #582264 100%);
  transition: 0.5s;
}
.gradient_btn:hover {
  box-shadow: 0 2px 5px -2px #000;
  transform: scale(1.05);
}
.title_font {
  font-family: "montserrat";
}
#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mosaic-loader {
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
  position: absolute;
  top: calc(50% - var(--cell-size) - var(--cell-size));
  left: calc(50% - var(--cell-size) - var(--cell-size));
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.mosaic-loader > .cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border: var(--border-width) solid var(--cell-color);
  animation: 1s ripple ease infinite;
}
.mosaic-loader > .cell.d-1 {
  animation-delay: 100ms;
}
.mosaic-loader > .cell.d-2 {
  animation-delay: 200ms;
}
.mosaic-loader > .cell.d-3 {
  animation-delay: 300ms;
}
.mosaic-loader > .cell.d-4 {
  animation-delay: 400ms;
}
.mosaic-loader > .cell.d-5 {
  animation-delay: 500ms;
}
.mosaic-loader > .cell.d-6 {
  animation-delay: 600ms;
}
.mosaic-loader > .cell:nth-child(1) {
  --cell-color: #32c1fa;
}
.mosaic-loader > .cell:nth-child(2) {
  --cell-color: #23a5d8;
}
.mosaic-loader > .cell:nth-child(3) {
  --cell-color: #1785b1;
}
.mosaic-loader > .cell:nth-child(4) {
  --cell-color: #0d668a;
}
.mosaic-loader > .cell:nth-child(5) {
  --cell-color: #205ad6;
}
.mosaic-loader > .cell:nth-child(6) {
  --cell-color: #1345b1;
}
.mosaic-loader > .cell:nth-child(7) {
  --cell-color: #0f3994;
}
.mosaic-loader > .cell:nth-child(8) {
  --cell-color: #0a3288;
}
.mosaic-loader > .cell:nth-child(9) {
  --cell-color: #7153e0;
}
.mosaic-loader > .cell:nth-child(10) {
  --cell-color: #5937d6;
}
.mosaic-loader > .cell:nth-child(11) {
  --cell-color: #4525b8;
}
.mosaic-loader > .cell:nth-child(12) {
  --cell-color: #301592;
}
.mosaic-loader > .cell:nth-child(13) {
  --cell-color: #c505ff;
}
.mosaic-loader > .cell:nth-child(14) {
  --cell-color: #9e0eca;
}
.mosaic-loader > .cell:nth-child(15) {
  --cell-color: #8003a7;
}
.mosaic-loader > .cell:nth-child(16) {
  --cell-color: #6b008b;
}

@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
body {
  font-family: "worksans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "montserrat", sans-serif;
}
@media screen and (max-width: 1023px) {
  #nav-content.bg-gray-100 {
    display: none !important;
  }
}
.to_the_moon {
  transform: translateX(-1000px) translateY(-100px) scale(0.5);
}
.goin_wski_fromtop {
  animation: wski_slide 1s cubic-bezier(0.23, 1, 0.32, 1) 2.2s both;
}
@keyframes wski_slide {
  0% {
    transform: translateY(-300px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
#loading_logo {
  width: 100px;
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 50px);
  animation: loading_logo 0.8s 0.2s linear both;
}
.throw_to_moon_again {
  transition: bottom 1.2s 0.5s;
  bottom: calc(100% + 200px) !important;
}
@keyframes loading_logo {
  0% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    transform: scale(2) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}
.shift_for_logo {
  transform: translateX(-40px);
}
.fill_white {
  fill: #fff;
}
.primary_font {
  font-family: "montserrat";
}
/* SERVIZI CUSTOM */
.card_servizi {
  box-shadow: 0 0 7px -1px var(--thirdary);
  padding: 100px 1rem 1.5rem;
  border-radius: 1rem;
}
@media screen and (min-width: 1500px) {
  .card_servizi {
    padding: 100px 2rem 1.5rem;
  }
}
.smoke_transition {
  transition: 0.7s;
}

.list_service div {
  padding-top: 6px;
  padding-bottom: 6px;
}
.list_service div:nth-child(1) {
  background: #000e68;
}
.list_service div:nth-child(2) {
  background: #001497;
}
.list_service div:nth-child(3) {
  background: #0017ac;
}
.list_service div:nth-child(4) {
  background: #001cd1;
}
/* STRATEGY SECTION */
.card_strategy {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
  background: linear-gradient(90deg, var(--background), var(--primary));
}
.show_details_strat {
  top: calc(50% - 0.75rem);
  right: 1rem;
}
/* RIGHTBAR SOCIAL NETWORK */
#rightbar_social {
  position: fixed;
  bottom: 20px;
  right: -200px;
  transition: 0.7s all;
  opacity: 0;
  pointer-events: none;
}
#rightbar_social.active_social {
  opacity: 1;
  right: -130px;
  pointer-events: all;
}
.container_right {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 1rem;
  transition: 1s all;
}
#rightbar_social .container_right:first-child {
  margin-bottom: 1rem;
}
.container_right span {
  opacity: 0;
  color: #fff;
  margin-right: 20px;
  font-family: "montserrat";
  transition: 1.2s all;
}
#rightbar_social .container_right:hover {
  transform: translateX(-110px);
  background-color: #fff;
}
#rightbar_social .container_right svg {
  transition: 1s all;
  transform: rotate(0);
}
#rightbar_social .container_right svg path {
  fill: #000;
  transition: 1s all;
}
#rightbar_social .container_right:hover span {
  opacity: 1;
  color: #000;
}
#rightbar_social .container_right:hover svg {
  background-color: #000;
  transform: rotate(360deg) scale(1.2);
}
#rightbar_social .container_right:hover svg path {
  fill: #fff;
}
.fill_on_hover {
  position: relative;
  overflow: hidden;
  transition: 0.6s all;
}
.fill_on_hover svg {
  position: absolute;
  right: -1rem;
  top: calc(50% - 14px);
  opacity: 0;
  transition: 0.7s;
}
.fill_on_hover path {
  fill: #fff;
  transition: 0.5s;
}
.fill_on_hover:hover path {
  fill: #000;
}
.fill_on_hover:hover svg {
  position: absolute;
  right: 5px;
  opacity: 1;
}
.fill_on_hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateX(-100%);
  z-index: -1;
  transition: 0.7s;
}
.fill_on_hover:hover:before {
  transform: translateX(0);
}
.fill_on_hover:hover {
  padding-right: 2rem !important;
  padding-left: 0 !important;
  color: #000;
}
